$body-bg: #0f0f0f;
$body-bg-light: #f2f2f3;
$main-color: #ff0000;
$txt-color: #fff;
$txt-color-light: #6c6c6c;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;